
.project-card {
    display: grid;
    font-family: "Lucida Console", Courier, monospace;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 100px;
    align-items: center;
}

.project-card .project-img:nth-child(even) {
    grid-area: 1 / 1 / -1 / 9;
    grid-column: 1/9;
}

.project-card .project-img:nth-child(odd) {
    grid-area: 1 / -1 / -1 / 6;
    grid-column: 6/-1;
}

.project-card .project-img {
    border-radius: 5px;
    box-shadow: var(--shadow);
    position: relative;
    z-index: var(--project-image-order);

}

.project-card img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.project-card .overlay {
    background-color: var(--image-overlay-color);
    /* border-radius: 5px; */
    height: 100%;
    inset: 0;
    position: absolute;
    transition: 1s ease;
    width: 100%;
    z-index: var(--project-image-overlay-order);
}

.project-card .overlay:hover{
    background-color: transparent;
}

.project-card .description:nth-child(even) {
    grid-area: 1 / 1 / -1 / 8;
    grid-column: 1/7;
}

.project-card .description:nth-child(odd) {
    grid-area: 1 / -1 / -1 / 7; 
    grid-column: 7/-1;
    text-align: right;
}


.project-card .description {
    color: var(--text-color);
    font-size: calc(var(--text-fs) - 0.4rem);
    margin: auto;
    position: relative;
    z-index: var(--project-description-order);
}

.project-card h1 {
    font-size: var(--subheader-fs);
}

.project-card .description .highlights {
    background-color: var(--description-background-color);
    border-radius: 5px;
    padding: 10px;
}

.project-card .techstacks {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.project-card .isOdd {
    justify-content: flex-end;
}

.project-card .techstacks .icon-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.project-card .techstacks .icon {
    color: black;
    font-size: calc(1.5rem + 3vh);
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.5s ease;
}


.project-card .techstacks p {
    display: none;
    margin: 0;
    position: absolute;
    text-align: center;
    top: calc(1.5rem + 3vh);
    transition: ease 1s;
    transition: visibility 3s ease-in;
    visibility: hidden;
}

.project-card .techstacks .icon:hover {
    color: var(--emphasis-color);
    transform: translateY(-5px);
}

.project-card .techstacks .icon:hover ~ p {
    display: inline;
    visibility: visible;
}

@media only screen and (max-width: 800px) {
    .project-card {
        grid-template-rows: 1fr 1fr;
    }

    .project-card .project-img:nth-child(odd)  {
        grid-column: 1 / -1;
    }

    .project-card .project-img:nth-child(even) {
        grid-column: 1 / -1;
    }

    .project-card .description:nth-child(odd) {
        grid-column: 1 / -1;
        text-align: left;
    }

    .project-card .description:nth-child(even) {
        grid-column: 1 / -1;
    }

    .project-card .project-img {
        opacity: 1;
        height: 100%;
    }
    
    .project-card .isOdd {
        justify-content: flex-start;
    }

    .project-card .description {
        background-color: rgba(141, 109, 68, 0.7);
        border-radius: 5px;
        padding: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        opacity: 1;
    }

    .project-card .description .highlights {
        background-color: transparent;
        opacity: 1;
        border-radius: 5px;
        padding: 10px 0;
    }

    @media only screen and (max-width: 550px) {
        .project-card .description {
            font-size: 20px;
            padding: 10px;
        }
        .project-card .techstacks .icon {
            font-size: 50px;
        }

    }
}