.navbar {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    background-color: var(--navbar-bg);
    transform: translateX(400px);
    transition: 0.5s ease;
}


.transformedNavbar {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    background-color: var(--navbar-bg);
    transition: 0.5s ease;
}

.transformedNavbar p {
    color: var(--navbar-color);
    margin: 1.5vh;
    margin-right: 20px;
    font-family: var(--main-font);
    font-size: var(--navbar-titles-fs);
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    /* display: block; */
    overflow-wrap: break-word;
}

.transformedNavbar p:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}



.navbar p {
    color: var(--navbar-color);
    margin: 1.5vh;
    margin-right: 20px;
    font-family: var(--main-font);
    font-size: var(--navbar-titles-fs);
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    /* display: block; */
    overflow-wrap: break-word;
}

.navbar p:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}