.navbar {
    align-items: center;
    background-color: var(--navbar-bg);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(400px);
    transition: 0.5s ease;
    width: 400px;
}


.transformedNavbar {
    align-items: center;
    background-color: var(--navbar-bg);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.5s ease;
    width: 400px;
}

.transformedNavbar p {
    /* display: block; */
    color: var(--navbar-color);
    font-family: var(--main-font);
    font-size: var(--navbar-titles-fs);
    font-weight: 600;
    margin-right: 20px;
    margin: 1.5vh;
    overflow-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.transformedNavbar p:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}



.navbar p {
    /* display: block; */
    color: var(--navbar-color);
    font-family: var(--main-font);
    font-size: var(--navbar-titles-fs);
    font-weight: 600;
    margin-right: 20px;
    margin: 1.5vh;
    overflow-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.navbar p:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}