
.about-me {
    align-items: center;
    display: flex;
    font-family: var(--text-font);    
    justify-content: center;
    min-height: calc(100vh - var(--nav-container-height));
}

.name {
    font-size: var(--sectionheader-fs);
    font-weight: 700;
}

.name > span {
    color: var(--emphasis-color);
}


.about-me .contact-me {
    display: flex;
    list-style-type: none;
    padding: 0;
}


.about-me .contact-me li {
    cursor: pointer;
    margin: 15px;
}

.about-me .contact-me .icons {
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: var(--shadow);
    font-size: 90px;
    padding: 4px;
    transition: transform 0.5s ease;
}

.about-me .contact-me .icons:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(155, 118, 83, 1);
    transform: translateY(-3px);
}


.about-me .introduction {
    align-items: center;
    box-sizing: border-box;
    color: var(--text-color);
    display: flex;
}

.about-me .information {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.about-me .information .profile-pic {
    animation: 0.5 ease;
    border-radius: 10px;
    box-shadow: var(--shadow);
    max-height: 600px;
    width: auto;
}

@media only screen and (min-width: 1000px) {
    .about-me .profile-pic:hover {
        transform: scale(1.03) rotate(-3deg);
    }
}


.about-me .description {
    font-size: calc(var(--text-fs) - 0.2rem);
    margin-right: 20px;
    max-width: 60ch;
    min-width: 40ch;
    text-align: left;
}

.description span {
    color: var(--emphasis-color);
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    .about-me .introduction {
        display: block;
    }

    .about-me .introduction .description {
        font-size: var(--text-fs-1000);
    }

    .about-me .contact-me {
        flex-direction: column;
    }

    .about-me .information {
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
    }
    .about-me .information > * {
        margin: 5vw;
    }
}

@media only screen and (max-width: 800px) {
    .about-me .description {
        grid-column: 1 / -1;
        min-width: 0;
    }
}

@media only screen and (max-width: 550px) {
    .about-me .information {
        display: flex;
        flex-direction: column;
    }

    .about-me .information .contact-me {
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    .about-me .information > * {
        margin: 0;
    }

    .about-me .information .contact-me .icons {
        margin-top: 50px;
        font-size: 80px;
    }
}
    
    
