
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--nav-container-height));
    font-family: var(--text-font);
    padding: 10px;
    
}

.name {
    font-size: var(--sectionheader-fs);
    font-weight: 700;
}

.name > span {
    color: var(--emphasis-color);
}


.about-me .contact-me {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-right: 50px;
}


.about-me .contact-me li {
    cursor: pointer;
    margin: 15px 0;
}

.about-me .contact-me .icons {
    font-size: 100px;
    box-shadow: var(--shadow);
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.about-me .contact-me .icons:hover {
    transform: translateY(-3px);
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(155, 118, 83, 1);
}


.introduction {
    display: flex;
    color: var(--text-color);
}

.about-me .profile-pic {
    border-radius: 10px;
    box-shadow: var(--shadow);
    animation: 0.5 ease;
    max-height: 540px;
}

.about-me .profile-pic:hover {
    transform: scale(1.03) rotate(-3deg);
}

.about-me .description {
    text-align: left;
    min-width: 40ch;
    max-width: 60ch;
    font-size: calc(var(--text-fs) - 0.2rem);
    /* margin: 20px 20px 20px 0; */
}

.description span {
    color: var(--emphasis-color);
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    .about-me .profile-pic {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .about-me .contact-me {
        display: none;
    }

    .project-card img {
        grid-column: 1 / -1;
    }

    .project-card .description {
        grid-column: 1 / -1;
        min-width: 0;
    }
}