.contactMe {
    padding-top: 0;
}

.contactMe > .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--text-font);
    font-size: var(--text-fs);
    justify-content: center;
    min-height: 500px;
    text-align: center;
}

.contactMe > .content > * {
    max-width: 40ch;
}

.content > span{
    color: var(--emphasis-color);
    font-size: var( --sectionheader-fs);
    font-weight: 900;
}

.contactMe .button {
    border-radius: 10px;
    border: black solid 2px;
    cursor: pointer;
    max-width: max-content;
    padding: 10px;
    transition: ease 0.5s;
}

.contactMe .button:hover {
    background-color: rgba(155, 118, 83, 1);
    transform: translateY(-8px);
}