.cup {
    position: absolute;
    height: 170px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translateY(-85px) translateX(-100px);
    border: 8px solid black;
    border-radius: 0 0 70px 70px;
    background-image: url(../assets/coffee.png);
    box-shadow:  1px 1px 10px -2px;
    animation: fill 3s linear infinite;
    background-repeat: repeat-x;
    background-position: 0px 200px;

}

@keyframes fill {
    0% {
        background-position: 0px 200px;
    }
    20% {
        background-position: -450px 140px;
    }
    40% {
        background-position: -900px 50px;
    }
    80% {
        background-position: -1350px -30px;
    }
    100% {
        background-position: 0px 200px;
    }
}

.handle{
    height: 70px;
    width: 40px;
    border: 8px solid black;
    position: relative;
    left: 188px;
    top: 2px;
    border-radius: 0 25px 80px 0px;
}

.welcome {
    display: flex;
    justify-content: center;
}

.welcome p {
    position: absolute;
    top: 60%;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    font-size: calc(2rem + 1vh);
}