.work .job-intro img {
    animation: fadeInAnimation 2s linear forwards;
    display: block;
    inset: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: var(--work-image-bg-order);
}

.work-card {
    display: flex;
    margin-top: 100px;
    max-height: 800px;
    min-height: 550px;
}

.work-card .buttons {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: calc(700px);
    text-decoration: none;
}

.work-card .buttons .button {
    align-items: center;
    border-left: 3px solid rgba(0, 0, 0, 0.3);
    color: black;
    cursor: pointer;
    display: flex;
    flex: 1 1;
    font-family: var(--text-font);
    font-size: var(--text-fs);
    font-weight: 600;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.work-card .job-intro {
    align-items: center;
    display: flex;
    flex: 5;
    font-family: var(--text-font);
    font-size: calc(var(--text-fs) - 0.1rem);
    justify-content: center;
    min-width: 30ch;
    position: relative;
}

.work-card .job-intro  > p {
    text-align: center;
}


.work-card .job-intro * {
    animation: fadeIn 0.1s ease-in forwards;
    opacity: 0;
}


.work-card .job-intro span {
    cursor: pointer;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


@keyframes fadeInAnimation {
    from {opacity: 0;}
    to {opacity: 0.2;}
}


.work-card .buttons .active {
    border-left: 3px solid black; 
}


.work .job-intro p {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.work .job-intro ul {
    margin: 0;
    padding: 0;
}

.work .job-intro li {
    display: list-item;
    list-style: none;
    margin: 20px 0;
    padding-left: 30px;
    position: relative;
}

.work .job-intro li:before {
    color: var(--emphasis-color);
    content: "▹";
    left: 0px;
    position: absolute;
}

@media only screen and (max-width: 1000px) {
    .work-card {
        display: block;
        margin-top: 20px;
    }
    .work-card .buttons {
        flex-direction: row;
        min-height: auto;
        margin-bottom: 50px;
    }

    .work-card .buttons .button {
        border: 0;
        border-bottom: 3px solid rgba(0, 0, 0, 0.3);
        border-radius: 0;
    }

    .work-card .buttons .active {
        border-bottom: 3px solid black; 
    }

    .work-card .job-intro {
        min-height: 500px;
        min-width: 0;
        font-size: var(--text-fs-1000);
    }

    .work-card .job-intro .title {
        font-size: calc(var(--text-fs-1000) + 0.3rem);
    }
}

@media only screen and (max-height: 900px) {

    .work-card .job-intro {
        font-size: var(--text-fs-1000);
    }

    .work-card .buttons {
        min-height: 50px;
    }

    .work-card .buttons p {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }

}